* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    min-width: 320px;
  }

  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  header {
    padding: 45px 15px;
  }
  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  form {
    text-align: left;
  }
  
  input, textarea {
    width: 70%;
    max-width: 5000px;
  }
  
  .form-section {
    margin-bottom: 30px;
  }
  
  .how-often {
    font-size: 14px;
  }

  .habit-description {
    text-align: left;
    margin-bottom: 30px;
  }

  .category-description {
    text-align: left;
    margin-bottom: 30px;
  }

  .required, .delete {
    color: red;
  }

  .feedback {
    color: blue;
  }

  .habit {
    font-size: 12px;
  }

  .create {
    padding-top: 70px;
  }
