body {
  background-color: #cccccc;
  color: rgb(13, 53, 13);
  font-family: "Courier New"
}
.Main-view {
  display: block;
  text-align: center;
}


.App-header {
  min-height: 40vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


button, #delete-note, #increment{
  display: block;
  background-color: #D99BAF;
  color: black;
  border: none;
  margin-top: 1em;
}

button:hover {
  border: 2px solid black;
  cursor: pointer;
}

form {
  text-align: left;
  padding-top: 2em;
}

input, textarea{
 display: block;
 margin-top: 0.5em;
 margin-bottom: 0.5em;
}
