html {
  height: 100%
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height:100%;
  margin: 0;
  font-family: 'Tahoma', 'Geneva', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Tahoma', 'Geneva', sans-serif;
}